.wrap {
      /* width:250px; */
      height: auto;
      margin: auto;
  }
  .avatar {
      width: 100%;
      margin: auto;
      width: 65px;
      border-radius: 100px;
      height: 65px;
      position: relative;
      bottom: -15px;
  }
  .avatar img {
      width: 55px;
      height: 55px;
      border-radius: 100px;
      margin: auto;
      border:3px solid rgb(255, 255, 255);
      display: block;
  }
  .wrap input {
    border: none;
    background: #fff;
    display: block;
    outline: none;
    width: 50%;
    margin: auto;
    padding: 1em;
  }
  .bar {
      height: 1px;
      background: transparent ;
  }
  .bar i {
      width: 95%;
      margin: auto;
      height: 1px ;
      display: block;
      background: transparent;
  }
.wrap input[type="email"], .wrap input[type="password"] {
    border-radius: 30px;
    font-size: 1em;
}

  .wrap input[type="password"] {
    margin: 1em auto;
  }
  .forgot_link {
      color: #83afdf ;
      color: #83afdf;
      text-decoration: none;
      font-size: 11px;
      position: relative;
      left: 193px;
      top: -36px;
  }
.wrap button {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: cornflowerblue;
    margin-top: .5em;
    width: 250px;
}
#btnLogout {
    width: 250px;
    background-color: rgba(0,0, 0, .3);
    margin: 0;
}
#btnSignUp {
    background-color: transparent;
    display: block;
    height: auto;
    width: 100%;
    margin: 0;
}
.profil {
    text-align: center;
    font-size: 5rem;
    color: white;
}
#section-profil { position: relative; }
#section-profil header { 
    padding-top: 0;
    padding-bottom: .5em;
}
/********** Bouton de déconnexion *********/
div.wrap {
    text-align: center;
    cursor: pointer;
    transition: transform .3s;
}
/********** Bouton de déconnexion *********/
#error {
    font-size: 1rem;
    color: chartreuse;
    border-radius: 10px;
    padding:10px;
    margin-top: 5px;
    display: none;
}
/**************************************/
#section-accueil {
    width: 100%;
    padding: 1em 0 2em 0;
    background-color: rgba(0,0, 0, .3);
}